In [1]:
from pandas import DataFrame
import pandas as pd
a_file = open("../data/I80_davis.txt") #openin text_file

# columns of our dataset
columns=['timestamp','ID','avg_speed','avg_flow','avg_occ','avg_freeflow_speed','samples_below_100pct_ff',
         'samples_below_95pct_ff','samples_below_90pct_ff','samples_below_85pct_ff','samples_below_80pct_ff',
         'samples_below_75pct_ff','samples_below_70pct_ff','samples_below_65pct_ff','samples_below_60pct_ff',
         'samples_below_55pct_ff','samples_below_50pct_ff','samples_below_45pct_ff','samples_below_40pct_ff',
         'samples_below_35pct_ff','samples_below_30pct_ff','samples_below_20pct_ff','samples_below_25pct_ff',
         'samples_below_15pct_ff','samples_below_10pct_ff' ]

# creating empty list to store corresponding values
timestamp=[]
ID=[]
avg_speed=[]
avg_flow=[]
avg_occ=[]
avg_freeflow_speed=[]
samples_below_100pct_ff=[]
samples_below_95pct_ff=[]
samples_below_90pct_ff=[]
samples_below_85pct_ff=[]
samples_below_80pct_ff=[]
samples_below_75pct_ff=[]
samples_below_70pct_ff=[]
samples_below_65pct_ff=[]
samples_below_60pct_ff=[]
samples_below_55pct_ff=[]
samples_below_50pct_ff=[]
samples_below_45pct_ff=[]
samples_below_40pct_ff=[]
samples_below_35pct_ff=[]
samples_below_30pct_ff=[]
samples_below_20pct_ff=[]
samples_below_25pct_ff=[]
samples_below_15pct_ff=[]
samples_below_10pct_ff=[]

# setting the limit of lines to excute because we have a huge that and it may cause our pc malfunctions
number_of_lines = 30000

for i in range(number_of_lines):
 

    line = a_file.readline() # reading each line
    a = line.split(',') # spliting elements of a line 
    
#     adding values to corresponding lists
    timestamp.append(a[0])
    ID.append(a[1])
    avg_speed.append(a[2])
    avg_flow.append(a[3])
    avg_occ.append(a[4])
    avg_freeflow_speed.append(a[5])
    samples_below_100pct_ff.append(a[6])
    samples_below_95pct_ff.append(a[7])
    samples_below_90pct_ff.append(a[8])
    samples_below_85pct_ff.append(a[9])
    samples_below_80pct_ff.append(a[10])
    samples_below_75pct_ff.append(a[11])
    samples_below_70pct_ff.append(a[12])
    samples_below_65pct_ff.append(a[13])
    samples_below_60pct_ff.append(a[14])
    samples_below_55pct_ff.append(a[15])
    samples_below_50pct_ff.append(a[16])
    samples_below_45pct_ff.append(a[17])
    samples_below_40pct_ff.append(a[18])
    samples_below_35pct_ff.append(a[19])
    samples_below_30pct_ff.append(a[20])
    samples_below_20pct_ff.append(a[21])
    samples_below_25pct_ff.append(a[22])
    samples_below_15pct_ff.append(a[23])
    samples_below_10pct_ff.append(a[24])

# zipping our list to data

data = zip(timestamp,ID,avg_speed,avg_flow,avg_occ,avg_freeflow_speed,samples_below_100pct_ff,samples_below_95pct_ff,
           samples_below_90pct_ff,samples_below_85pct_ff,samples_below_80pct_ff,samples_below_75pct_ff,samples_below_70pct_ff,
           samples_below_65pct_ff,samples_below_60pct_ff,samples_below_55pct_ff,samples_below_50pct_ff,samples_below_45pct_ff,
           samples_below_40pct_ff,samples_below_35pct_ff,samples_below_30pct_ff,samples_below_20pct_ff,samples_below_25pct_ff,
           samples_below_15pct_ff,samples_below_10pct_ff)

# creating a dataframe from our lists and columns

df = pd.DataFrame(data=data, columns=columns)

df.to_csv("../data/I80_davis.csv")

25

In [2]:
df.tail()

,timestamp,ID,avg_speed,avg_flow,avg_occ,avg_freeflow_speed,samples_below_100pct_ff,samples_below_95pct_ff,samples_below_90pct_ff,samples_below_85pct_ff,...,samples_below_55pct_ff,samples_below_50pct_ff,samples_below_45pct_ff,samples_below_40pct_ff,samples_below_35pct_ff,samples_below_30pct_ff,samples_below_20pct_ff,samples_below_25pct_ff,samples_below_15pct_ff,samples_below_10pct_ff
29995,02/16/2016 21:06:03,402268,0,0,0,0,0,0,0,0,...,,,,,,,,,,
29996,02/16/2016 21:06:03,402269,0,0,0,0,0,0,0,0,...,,,,,,,,,,
29997,02/16/2016 21:06:03,402270,0,0,0,0,0,0,0,0,...,,,,,,,,,,
29998,02/16/2016 21:06:03,402271,0,0,0,0,0,0,0,0,...,0,0,,,,,,,,
29999,02/16/2016 21:06:03,402272,0,0,0,0,0,0,0,0,...,0,0,,,,,,,,

In [1]:
import pandas as pd
richards = pd.read_csv('../data/richards.csv')
richards.tail()

,timestamp,flow1,occupancy1,flow2,occupancy2,flow3,occupancy3,totalflow,weekday,hour,minute,second
812612,2016-10-12 23:57:34,1,0.0044,3,0.0156,3,0.0211,7,2,23,57,30
812613,2016-10-12 23:58:04,2,0.0100,5,0.0300,4,0.0378,11,2,23,58,0
812614,2016-10-12 23:58:34,2,0.0100,4,0.0211,0,0.0000,6,2,23,58,30
812615,2016-10-12 23:59:04,3,0.0156,1,0.0044,1,0.0033,5,2,23,59,0
812616,2016-10-12 23:59:35,2,0.0089,2,0.0100,2,0.0333,6,2,23,59,30

In [4]:
metadata = pd.read_csv('../data/I80_stations.csv')
metadata.head()

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,402261,80,E,4,95,NaN,38.2,65.667,38.472850,-121.823777,0.75,ML,3,4A5344 loc 66,DS953,N3-E-23-080-03820,991100.0,425564.0
1,402260,80,W,4,95,NaN,38.24,65.707,38.473363,-121.823474,0.75,ML,3,4A5344 loc 66,DS953,N3-W-23-080-03824,991099.0,429111.0
2,402262,80,W,4,95,NaN,39,66.467,38.481149,-121.813543,0.77,ML,3,4A5344 loc 67,DS954,N3-W-23-080-03900,991101.0,429116.0
3,402263,80,E,4,95,NaN,39,66.467,38.481036,-121.813375,0.70,ML,3,4A5344 loc 67,DS954,N3-E-23-080-03900,991102.0,425569.0
4,402264,80,E,4,95,NaN,39.6,67.067,38.487178,-121.805573,0.50,ML,3,4A5344 LOC 68,DS955,N3-E-23-080-03960,991103.0,425574.0

In [5]:
station= pd.read_csv('../data/station_summary.csv')
station.head()

       ID  flow_99  flow_max  flow_median  flow_total   n_obs
0  313979     50.0      71.0         24.0  18447830.0  806622
1  313980     11.0      25.0          1.0   1618489.0  806622
2  313981     14.0      28.0          3.0   2916088.0  806622
3  314013     48.0      68.0         22.0  17301107.0  806548
4  314014     10.0      19.0          1.0   1522494.0  806548

In [6]:
weekday = pd.read_csv('../data/weekday.csv')
weekday.head()

       ID  hour  minute  second  Unnamed: 4  totalflow
0  313979     0       0       0         0.1        1.0
1  313979     0       0       0         0.5        4.0
2  313979     0       0       0         0.9        8.0
3  313979     0       0      30         0.1        1.0
4  313979     0       0      30         0.5        5.0

In [7]:
I80_median = pd.read_csv('../data/I80_median.csv')
I80_median.head()

,ID,weekday,hour,minute,second,flow1,occupancy1,mph1,flow2,occupancy2,...,flow3,occupancy3,mph3,flow4,occupancy4,mph4,flow5,occupancy5,mph5,totalflow
0,313979,0,0,0,0,2.0,0.0122,NaN,3.0,0.01945,...,1.0,0.01220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
1,313979,0,0,0,30,2.0,0.0122,NaN,3.0,0.02000,...,1.0,0.00670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.5
2,313979,0,0,1,0,2.0,0.0111,NaN,3.0,0.02000,...,1.0,0.00440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
3,313979,0,0,1,30,2.0,0.0111,NaN,3.0,0.02000,...,1.0,0.00725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4,313979,0,0,2,0,2.0,0.0111,NaN,2.0,0.01220,...,1.0,0.01220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0